footer {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
  font-family: "manrope";
  text-align: center;
  padding: 0 2em;
  margin-top: 5em;
  border-top: 3px solid #d87d4a;
}
.footer-links {
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

.footer-nav {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9em;
}

.footer-copy {
  color: rgba(255, 255, 255, 0.7);
}
.logo-wrap {
  width: 10em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5em;
}

.logo-wrap img {
  width: 2em;

  padding: 3px;
}

@media screen and (min-width: 768px) {
  .footer {
    align-items: baseline;
    height: 30rem !important;
  }

  .footer-content-wrap {
    text-align: left;
    margin-left: 2em;
  }

  .footer-links {
    display: flex;
  }

  .footer-links li {
    margin-right: 1em;
    font-weight: bold;
  }

  .audio-logo {
    margin-left: 2em;
  }

  .copy-social {
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
    align-items: center;
  }

  .social-logo img {
    margin-top: 3em;
  }

  .logo-wrap {
    width: 25%;
    margin-top: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    height: 25rem !important;
  }

  .logo-wrap img {
    margin-top: 0em;
  }
  .logo-wrap {
    margin-top: 0em;
  }

  .footer-copy {
    width: 60%;
  }
}

/* @media screen and (min-width: 320px) {
  .footer {
    height: 80vh;
    margin-top: 5em;
  }
} */

@media screen and (min-width: 700px) and (min-height: 300px) {
  .footer {
    height: 27em;
  }
}
